* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f5f8;
    color: #333;
}

.form {
    padding: 30px;
    background-color: #fff;
    border-radius: 15px;
    margin: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

h2 {
    font-size: 28px;
    margin: 20px 0;
    color: #008000;
    font-weight: bold;
}

.input {
    display: block;
    width: 100%;
    font-size: 24px;
    text-align: center;
    padding: 15px;
    border: 2px solid #008000;
    border-radius: 10px;
    color: #008000;
    margin-bottom: 20px;
    outline: none;
    transition: border-color 0.3s ease;
}

.input:focus {
    border-color: #004d00;
}

.input::placeholder {
    color: #d3d3d3;
}

.btn {
    background-color: #008000;
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: #004d00;
    transform: translateY(-3px);
}

.score {
    color: #008000;
    text-align: right;
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}