* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    background-color: #aeff00;
    font-family: "Roboto Mono", sans-serif;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 50px;
}

.counter {
    font-size: 60px;
    margin-top: 10px;
    font-weight: bold;
}

@media (max-width: 580px) {
    body {
        flex-direction: column;
    }
}