* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    background-color: #f1f5f8;
}

.btn {
    border-radius: 5px;
    border: none;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    color: #ff2400;
    background-color: #ccff00;
}

.btn:hover {
    opacity: 0.9;
}

.btn:focus {
    outline: none;
}