* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #2e8b57;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.input {
    width: 100%;
    font-size: 20px;
    height: 30px;
    outline: none;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.payment {
    font-weight: 600;
    font-size: 20px;
}